:root {
    --plugin-primary: #01162f;
    --plugin-primary-hover: #6e8095;

    --plugin-text: #1f2124;

    --plugin-grey: #f2f4f5;
    --plugin-white: #fff;

    --plugin-success: #35d2bf;
    --plugin-warning: #ffa22e;
    --plugin-error: #ff5964;
}