body {
    background-color: var(--plugin-grey);
}

#wpcontent {
    padding: 0 !important;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: -114px;
    padding-inline: 40px;
}